.placement-section {
  position: relative;
  color: white;
  background-color: #000;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placement-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.placement-subtitle {
  font-size: 1.2rem;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.placement-animation-container {
  position: relative;
  width: 80%;
  height: 60vh;
}

/* your rain animation pasted here */
.container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(
    ellipse 1.5px 2px at 1.5px 50%,
    #0000 0,
    #0000 90%,
    #000 100%
  );
  background-size: 25px 8px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  --c: #09f;
  background-color: #000;
  background-image: radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, #0000 150%);
  animation: hi 150s linear infinite;
}

@keyframes hi {
  0% {
    background-position: 0px 220px;
  }
  to {
    background-position: 0px 6800px;
  }
}
