#cursor, #box, #text {
  cursor: pointer;
}

#cursor {
  overflow: visible;
  transform-origin: center center;
  animation: cursor 5s ease infinite alternate;
}

@keyframes cursor {
  0% { opacity: 0; transform: translate3d(300px, 0, 0) scale(1); }
  30% { opacity: 1; transform: translate3d(0, 0, 0) scale(1); }
  60% { opacity: 1; transform: translate3d(-200px, -200px, 0) scale(1); }
  65% { transform: translate3d(-200px, -200px, 0) scale(0.95); }
  70% { transform: translate3d(-200px, -200px, 0) scale(1); }
  100% { transform: translate3d(-300px, -50px, 0) scale(1); }
}
